<div ng-show="visibleQestion">
    <p ng-bind-html="recomendation"></p>

    Уважаемый респондент, пожалуйста, ответьте на предлагаемые вопросы. Результаты тестирования будут использованы
    только в научно-исследовательских целях. Данный опрос анонимный.
    <ol>
        <li>
            Ваше имя <input type="text" ng-model="name">
        </li>

        <li>
            Пол <input type="radio" ng-model="sex" value="Мужской">Мужской<br/>
            <input type="radio" ng-model="sex" value="Женский">Женский
        </li>
        <li>
            Возраст <input type="text" ng-model="age">
        </li>
        <li>
            В каком направлении получаете/ получили образование? *
            <br/>
            <input type="radio" ng-model="napravlenie" value="Экономическое">Экономическое<br/>
            <input type="radio" ng-model="napravlenie" value="Техническое">Техническое<br/>
            <input type="radio" ng-model="napravlenie" value="Гуманитарное">Гуманитарное<br/>
            <input type="radio" ng-model="napravlenie">
            Другое:<input type="text" ng-model="napravlenie">
        </li>
        <li>
            Категория респондента <br/>
            <input type="radio" ng-model="category" value="1"> Старшеклассник<br/>
            <input type="radio" ng-model="category" value="2"> Студент<br/>
            <input type="radio" ng-model="category" value="3"> Имеется образование,
            трудоустроен<br/>
        </li>
    </ol>
    <h1>Использование гаджетов</h1>
    <ol>
        <li>
            Какой тип компьютерной техники Вы предпочитаете? (возможно несколько вариантов ответа) *
            <br/>
            <input type="checkbox" ng-model="gadget.id1.typeComputer1">Персональный компьютер<br/>
            <input type="checkbox" ng-model="gadget.id1.typeComputer2">Ноутбук<br/>
            <input type="checkbox" ng-model="gadget.id1.typeComputer3">Планшет<br/>
            <input type="checkbox" ng-model="gadget.id1.typeComputer4">Смартфон<br/>
        </li>
        <li>
            В течение дня вы проводите время (в%) за гаджетами в целях
            <br/>
            <table>
                <tr>
                    <td></td>
                    <td>До 20%</td>
                    <td>От 20 до 50%</td>
                    <td>Свыше 50%</td>
                    <td>Не занимаюсь подобным в течение дня</td>
                </tr>
                <tr>
                    <td>Учебы/ Работы</td>
                    <td><input type="radio" ng-model="gadget.id2.q1" value="1"></td>
                    <td><input type="radio" ng-model="gadget.id2.q1" value="2"></td>
                    <td><input type="radio" ng-model="gadget.id2.q1" value="3"></td>
                    <td><input type="radio" ng-model="gadget.id2.q1" value="4"></td>
                </tr>
                <tr>
                    <td>Серфинг в Интернете</td>
                    <td><input type="radio" ng-model="gadget.id2.q2" value="1"></td>
                    <td><input type="radio" ng-model="gadget.id2.q2" value="2"></td>
                    <td><input type="radio" ng-model="gadget.id2.q2" value="3"></td>
                    <td><input type="radio" ng-model="gadget.id2.q2" value="4"></td>
                </tr>
                <tr>
                    <td>Мобильные игры</td>
                    <td><input type="radio" ng-model="gadget.id2.q3" value="1"></td>
                    <td><input type="radio" ng-model="gadget.id2.q3" value="2"></td>
                    <td><input type="radio" ng-model="gadget.id2.q3" value="3"></td>
                    <td><input type="radio" ng-model="gadget.id2.q3" value="4"></td>
                </tr>
                <tr>
                    <td>Компьютерные игры</td>
                    <td><input type="radio" ng-model="gadget.id2.q4" value="1"></td>
                    <td><input type="radio" ng-model="gadget.id2.q4" value="2"></td>
                    <td><input type="radio" ng-model="gadget.id2.q4" value="3"></td>
                    <td><input type="radio" ng-model="gadget.id2.q4" value="4"></td>
                </tr>
                <tr>
                    <td>Почитать электронную книгу</td>
                    <td><input type="radio" ng-model="gadget.id2.q5" value="1"></td>
                    <td><input type="radio" ng-model="gadget.id2.q5" value="2"></td>
                    <td><input type="radio" ng-model="gadget.id2.q5" value="3"></td>
                    <td><input type="radio" ng-model="gadget.id2.q5" value="4"></td>
                </tr>
                <tr>
                    <td>Посмотреть видеоблог/ кино</td>
                    <td><input type="radio" ng-model="gadget.id2.q6" value="1"></td>
                    <td><input type="radio" ng-model="gadget.id2.q6" value="2"></td>
                    <td><input type="radio" ng-model="gadget.id2.q6" value="3"></td>
                    <td><input type="radio" ng-model="gadget.id2.q6" value="4"></td>
                </tr>
            </table>
        </li>
        <li>
            Берёте ли Вы телефон с собой в ванную комнату? *
            <br/>
            <input type="radio" ng-model="gadget.id3" value="1"> Да<br/>
            <input type="radio" ng-model="gadget.id3" value="2"> Нет<br/>
            <input type="radio" ng-model="gadget.id3" value="3">Иногда<br/>
        </li>
        <li>
            Вы проверяете соц. сети перед сном?
            <br/>
            <input type="radio" ng-model="gadget.id4" value="1"> Если поступит уведомление о сообщении, конечно придется
            ответить, а
            так я против этого<br/>
            <input type="radio" ng-model="gadget.id4" value="2"> Нет, перед сном никаких гаджетов, ведь это плохо влияет
            на
            сон<br/>
            <input type="radio" ng-model="gadget.id4" value="3">Нет, перед сном никаких гаджетов, ведь это плохо влияет
            на
            сон<br/>
            <input type="radio" ng-model="gadget.id4" value="4">Проверяю, а когда очнусь на часах уже будет глубокая
            ночь<br/>
        </li>
        <li>
            Вы сидите дома, листаете ленту и у Вас разрядился телефон, Ваши действия:
            <br/>
            <input type="radio" ng-model="gadget.id5" value="1"> Разозлюсь, быстро поставлю на зарядку, буду ждать пока
            он
            включится и
            продолжу листать ленту<br/>
            <input type="radio" ng-model="gadget.id5" value="2"> Поставлю на зарядку, пойду заниматься своими
            делами<br/>
            <input type="radio" ng-model="gadget.id5" value="3">Расстроюсь, что не дочитал(а) интересную новость/статью,
            поставлю на
            зарядку, вернусь к статье позже, если не забуду<br/>
        </li>
        <li>
            По какой причине Вы покупаете новый девайс? *
            <br/>
            <input type="radio" ng-model="gadget.id6" value="1">По какой причине Вы покупаете новый девайс? *<br/>
            <input type="radio" ng-model="gadget.id6" value="2"> Обычно, я самостоятельно не покупаю, мне дарят
            девайсы<br/>
            <input type="radio" ng-model="gadget.id6" value="3">Как вышел в продажу, так сразу беру. У меня только
            новинки<br/>
        </li>
        <li>
            Что Вы думаете об очках виртуальной реальности?
            <br/>
            <input type="radio" ng-model="gadget.id7" value="1">Уже взял(а) себе!<br/>
            <input type="radio" ng-model="gadget.id7" value="2"> Интересный гаджет, но ,говорят, еще недоработан<br/>
            <input type="radio" ng-model="gadget.id7" value="3">Не вижу смысла покупать их. Можно брать в аренду, когда
            потребуются<br/>
        </li>
    </ol>
    <h1>Использование интернета</h1>
    В данном разделе все вопросы касаются использования интернета посредством смартфонов, т.к. это самый популярный и
    необходимый гаджет.
    <ol>
        <li>
            Как вы предпочитаете связываться с другими людьми по важному для Вас делу? *
            <br/>
            <input type="radio" ng-model="internet.id1" value="1">Через мессенджеры/ Соц. сети<br/>
            <input type="radio" ng-model="internet.id1" value="2"> Телефонный звонок<br/>
            <input type="radio" ng-model="internet.id1" value="3">Видеозвонок<br/>
        </li>

        <li>
            С какой периодичностью Вы проверяете свои социальные сети (Instagram, VK, Facebook, Twitter)?
            <br/>
            <input type="radio" ng-model="internet.id2" value="1">От 10 до 20 минут<br/>
            <input type="radio" ng-model="internet.id2" value="2"> От 1 до 3 часов<br/>
            <input type="radio" ng-model="internet.id2" value="3">Два раза в день и реже<br/>
        </li>


        <li>
            Пожалуйста, укажите в каких целях Вы чаще всего пользуетесь интернетом? (ответ "Часто" подразумевает, что
            70% и
            более всех интернет-запросов относятся к указанной цели; ответ "Иногда" - от 40% до 70%; Ответ "Редко" до
            40%).
            <br/>
            <table>
                <tr>
                    <td></td>
                    <td>Часто</td>
                    <td>Иногда</td>
                    <td>Редко</td>
                </tr>
                <tr>
                    <td>Учебы/ Работы</td>
                    <td><input type="radio" ng-model="internet.id3.q1" value="1"></td>
                    <td><input type="radio" ng-model="internet.id3.q1" value="2"></td>
                    <td><input type="radio" ng-model="internet.id3.q1" value="3"></td>
                </tr>
                <tr>
                    <td>Просмотр новостных лент</td>
                    <td><input type="radio" ng-model="internet.id3.q2" value="1"></td>
                    <td><input type="radio" ng-model="internet.id3.q2" value="2"></td>
                    <td><input type="radio" ng-model="internet.id3.q2" value="3"></td>
                </tr>
                <tr>
                    <td>Просмотр видеоблогов</td>
                    <td><input type="radio" ng-model="internet.id3.q3" value="1"></td>
                    <td><input type="radio" ng-model="internet.id3.q3" value="2"></td>
                    <td><input type="radio" ng-model="internet.id3.q3" value="3"></td>
                </tr>
                <tr>
                    <td>Развлечения (кино,игры)</td>
                    <td><input type="radio" ng-model="internet.id3.q4" value="1"></td>
                    <td><input type="radio" ng-model="internet.id3.q4" value="2"></td>
                    <td><input type="radio" ng-model="internet.id3.q4" value="3"></td>
                </tr>
                <tr>
                    <td>Для общения через мессенджеры и соц.сети</td>
                    <td><input type="radio" ng-model="internet.id3.q5" value="1"></td>
                    <td><input type="radio" ng-model="internet.id3.q5" value="2"></td>
                    <td><input type="radio" ng-model="internet.id3.q5" value="3"></td>
                </tr>
                <tr>
                    <td>Позновательных (чтение худ. литературы, увлечение искусством и т.д.)</td>
                    <td><input type="radio" ng-model="internet.id3.q6" value="1"></td>
                    <td><input type="radio" ng-model="internet.id3.q6" value="2"></td>
                    <td><input type="radio" ng-model="internet.id3.q6" value="3"></td>
                </tr>
            </table>
        </li>

        <li>
            Пожалуйста, выберите несколько ответов на вопрос из предложенных вариантов: Если во время лекции/ работы Вам
            стало скучно, то Вы...
            <br/>
            <input type="checkbox" ng-model="internet.id4.q1">Полистаете новостную ленту<br/>
            <input type="checkbox" ng-model="internet.id4.q2"> Станете с кем-либо переписываться в соц.сетях/
            мессенджерах<br/>
            <input type="checkbox" ng-model="internet.id4.q3">Откроете Instagram<br/>
            <input type="checkbox" ng-model="internet.id4.q4">Посетите сообщества в соц. сети<br/>
            <input type="checkbox" ng-model="internet.id4.q5">Поиграете в мобильные игры<br/>
            <input type="checkbox" ng-model="internet.id4.q6">Подумаете о личном<br/>
            <input type="checkbox" ng-model="internet.id4.q7">Направите взгляд в одну точку и продолжите скучать, пока
            Вас не
            окликнут<br/>
        </li>

    </ol>

    <h1>Использование мессендржеров</h1>
    В данном разделе вопросы будут касаться эффективности использования наиболее популярных мессенджеров: WhatsApp,
    Telegram, Viber.
    <ol>

        <li>
            Через какой мессенджер Вы предпочитаете общаться?
            <br/>
            <input type="radio" ng-model="messenger.id1" value="1">WhatsApp<br/>
            <input type="radio" ng-model="messenger.id1" value="2">Telegram<br/>
            <input type="radio" ng-model="messenger.id1" value="3">Viber<br/>
        </li>

        <li>
            В ваших диалогах с людьми в большей степени присутствует...
            <br/>
            <input type="radio" ng-model="messenger.id2" value="1">Конструктивное общение (обсуждение каких-либо
            событий,
            вопросов)<br/>
            <input type="radio" ng-model="messenger.id2" value="2">Видеоматериалы и изображения разного характера<br/>
        </li>

        <li>
            Прочитав шокирующую новость в интернете, Вы..
            <br/>
            <input type="radio" ng-model="messenger.id3" value="1">Тут же поделитесь ею в мессенджере<br/>
            <input type="radio" ng-model="messenger.id3" value="2">Проверите на достоверность эту новость, а затем
            перешлете
            ее другу<br/>
            <input type="radio" ng-model="messenger.id3" value="3">Позвоните другу/коллеге и в разговоре обсудите
            новость<br/>
            <input type="radio" ng-model="messenger.id3" value="4">Если не забудете, расскажете при встрече<br/>
        </li>

        <li>
            Представьте ситуацию, когда у Вас много работы и отвлекаться нежелательно, Вам поступают сообщения с
            видео/аудиоматериалами и изображениями. Ваши действия?
            <br/>
            <input type="radio" ng-model="messenger.id4" value="1">Постараетесь не забыть прочитать сообщение позже,
            когда
            немного
            освободитесь<br/>
            <input type="radio" ng-model="messenger.id4" value="2">Прочитаете, не посмотрев содержимое и не
            ответите<br/>
            <input type="radio" ng-model="messenger.id4" value="3">Прочитаете, посмотрите и ответите<br/>
            <input type="radio" ng-model="messenger.id4" value="4">Проверите, что в сообщении видео и изображение и
            решите
            оставить
            сообщение непрочитанным<br/>
        </li>

        <li>
            Для обсуждения деловых вопросов с условным клиентом лучше будет... (Пожалуйста, выберите не больше 2х
            вариантов).
            <br/>
            <input type="checkbox" ng-model="messenger.id5.q1"> Воспользоваться видео-звонком в мессенджере<br/>
            <input type="checkbox" ng-model="messenger.id5.q2">Переписываться в чате мессенджера<br/>
            <input type="checkbox" ng-model="messenger.id5.q3">Воспользоваться телефонным звонком<br/>
            <input type="checkbox" ng-model="messenger.id5.q4">Встретиться лично<br/>
        </li>

    </ol>

    <h1>Гейминг</h1>
    <ol>

        <li>
            Как часто Вы играете в компьютерные игры?
            <br/>
            <input type="radio" ng-model="gaming.id1" value="1"> Раз в неделю и реже (не играю)<br/>
            <input type="radio" ng-model="gaming.id1" value="2">Два-три раза в неделю<br/>
            <input type="radio" ng-model="gaming.id1" value="3">Ежедневно, после работы<br/>
            <input type="radio" ng-model="gaming.id1" value="4">Ежедневно, с небольшими перерывами<br/>
        </li>

        <li>
            Сколько времени в день Вы готовы тратить на компьютерные игры?
            <br/>
            <input type="radio" ng-model="gaming.id2" value="1"> 30 минут- час<br/>
            <input type="radio" ng-model="gaming.id2" value="2">От 2 до 3 часов<br/>
            <input type="radio" ng-model="gaming.id2" value="3">Больше 3 часов<br/>
            <input type="radio" ng-model="gaming.id2" value="4">Не играю<br/>
        </li>


        <li>
            Пожалуйста, выберите жанр игр, в соответствии со степенью интереса
            <br/>
            <table>
                <tr>
                    <td></td>
                    <td>Интересны</td>
                    <td>Могу иногда поиграть</td>
                    <td>Очень редко в такое играю</td>
                    <td>Вообще не интересует</td>
                </tr>
                <tr>
                    <td>Аркадные</td>
                    <td><input type="radio" ng-model="gaming.id3.q1" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id3.q1" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id3.q1" value="3"></td>
                    <td><input type="radio" ng-model="gaming.id3.q1" value="4"></td>
                </tr>
                <tr>
                    <td>Ролевые</td>
                    <td><input type="radio" ng-model="gaming.id3.q2" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id3.q2" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id3.q2" value="3"></td>
                    <td><input type="radio" ng-model="gaming.id3.q2" value="4"></td>
                </tr>
                <tr>
                    <td>Стратегии</td>
                    <td><input type="radio" ng-model="gaming.id3.q3" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id3.q3" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id3.q3" value="3"></td>
                    <td><input type="radio" ng-model="gaming.id3.q3" value="4"></td>
                </tr>
                <tr>
                    <td>Логические</td>
                    <td><input type="radio" ng-model="gaming.id3.q4" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id3.q4" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id3.q4" value="3"></td>
                    <td><input type="radio" ng-model="gaming.id3.q4" value="4"></td>
                </tr>
                <tr>
                    <td>Квесты</td>
                    <td><input type="radio" ng-model="gaming.id3.q5" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id3.q5" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id3.q5" value="3"></td>
                    <td><input type="radio" ng-model="gaming.id3.q5" value="4"></td>
                </tr>
                <tr>
                    <td>Симулятор</td>
                    <td><input type="radio" ng-model="gaming.id3.q6" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id3.q6" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id3.q6" value="3"></td>
                    <td><input type="radio" ng-model="gaming.id3.q6" value="4"></td>
                </tr>

            </table>
        </li>

        <li>
            Как часто с Вами бывает так, что Вы не замечаете, как быстро проходит время в процессе игры?
            <br/>
            <input type="radio" ng-model="gaming.id4" value="1"> Каждый раз, когда играю в новую интересную игру<br/>
            <input type="radio" ng-model="gaming.id4" value="2">Стараюсь играть ограниченное время, но если игра
            захватывает, могу
            перестать контролировать время<br/>
            <input type="radio" ng-model="gaming.id4" value="3">Играю в строго отведенное время, не выходя за его
            рамки<br/>
        </li>

        <li>
            Представьте ситуацию: У Вас очень напряженная игровая онлайн-сессия в команде, и вдруг, Вас позвали гулять
            или
            попросили сходить в магазин. Ваши действия:
            <br/>
            <input type="radio" ng-model="gaming.id5" value="1">Доиграете текущую игровую сессию и сходите погулять/ в
            магазин<br/>
            <input type="radio" ng-model="gaming.id5" value="2">Сразу же после просьбы начнете собираться в магазин/ на
            прогулку<br/>
            <input type="radio" ng-model="gaming.id5" value="3">Попросите, что бы Вас не отвлекали и подождали пока Вы
            закончите<br/>
            <input type="radio" ng-model="gaming.id5" value="4">Какая прогулка, тут дела по-важнее!<br/>
        </li>

        <li>
            В процессе игры Вас отвлекли по какому-либо поводу и Вы проиграли, как Вы, обычно, реагируете на подобное?
            <br/>
            <table>
                <tr>
                    <td></td>
                    <td>Чаще всего так и реагирую</td>
                    <td>Редко так реагирую</td>
                    <td>Никогда так не реагирую</td>
                </tr>
                <tr>
                    <td>Ничего страшного, попробую сначала</td>
                    <td><input type="radio" ng-model="gaming.id6.q1" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id6.q1" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id6.q1" value="3"></td>
                </tr>
                <tr>
                    <td>Рассержусь: этот повод не мог подождать?!</td>
                    <td><input type="radio" ng-model="gaming.id6.q2" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id6.q2" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id6.q2" value="3"></td>
                </tr>
                <tr>
                    <td>Неосознанно начну кричать и обвинять того, кто отвлек</td>
                    <td><input type="radio" ng-model="gaming.id6.q3" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id6.q3" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id6.q3" value="3"></td>
                </tr>
                <tr>
                    <td>Специально, повышенным тоном попрошу не лезть во время игры</td>
                    <td><input type="radio" ng-model="gaming.id6.q4" value="1"></td>
                    <td><input type="radio" ng-model="gaming.id6.q4" value="2"></td>
                    <td><input type="radio" ng-model="gaming.id6.q4" value="3"></td>
                </tr>

            </table>
        </li>

        <li>
            По- вашему мнению, нормально ли весь выходной просидеть за компьютерной игрой ?
            <br/>
            <input type="radio" ng-model="gaming.id7" value="1">Да, почему бы и нет. Я всю неделю работал, имею право
            так
            отдохнуть<br/>
            <input type="radio" ng-model="gaming.id7" value="2">Вполне, мне в выходной делать нечего. По дому все и без
            меня
            делают, а
            смотреть телевизор или читать мне не особо интересно<br/>
            <input type="radio" ng-model="gaming.id7" value="3">Нет, можно поиграть пару часов, но потом заняться более
            важными
            делами<br/>
            <input type="radio" ng-model="gaming.id7" value="4">У меня много дел в выходные и мне не до игр<br/>
        </li>

        <li>
            Если у Вас имеются VR очки, как часто Вы играете через них?
            <br/>
            <input type="radio" ng-model="gaming.id8" value="1">Да, почему бы и нет. Я всю неделю работал, имею право
            так
            отдохнуть<br/>
            <input type="radio" ng-model="gaming.id8" value="2">Вполне, мне в выходной делать нечего. По дому все и без
            меня
            делают, а
            смотреть телевизор или читать мне не особо интересно<br/>
            <input type="radio" ng-model="gaming.id8" value="3">Нет, можно поиграть пару часов, но потом заняться более
            важными
            делами<br/>
            <input type="radio" ng-model="gaming.id8" value="4">У меня много дел в выходные и мне не до игр<br/>
        </li>

        <li>
            Согласны ли Вы со следующими утверждениями?
            <br/>
            <input type="checkbox" ng-model="gaming.id9.q1">VR это здорово! Обычный игровой процесс уже приелся!<br/>
            <input type="checkbox" ng-model="gaming.id9.q2">Мне нравится, особенно, когда играешь в хоррор, щекочет
            нервы!<br/>
            <input type="checkbox" ng-model="gaming.id9.q3">Интересный девайс, но не более чем на пару раз<br/>
            <input type="checkbox" ng-model="gaming.id9.q4">С их помощью можно виртуально путешествовать куда угодно,
            это же
            отлично!<br/>
            <input type="checkbox" ng-model="gaming.id9.q5">Мне нравится играть через них, но только не в хоррор! Мои
            нервы мне
            дороже, чем острые ощущения<br/>
            <input type="checkbox" ng-model="gaming.id9.q6">Против VR, ведь это плохо сказывается на подсознании и
            здоровье в
            целом<br/>
        </li>

    </ol>

    <h1>Влияние на физиологию и психологию</h1>
    <ol>

        <li>
            Вы ощущаете оживление, удовольствие, удовлетворение или облегчение, находясь за компьютером (в сети)?
            <br/>
            <input type="radio" ng-model="fisiology.id1" value="1">После рабочего дня, я с удовольствием сяду за
            компьютер<br/>
            <input type="radio" ng-model="fisiology.id1" value="2">После рабочего дня у меня нет никакого желания
            садиться за компьютер.
            Лучше чем-нибудь другим займусь<br/>
            <input type="radio" ng-model="fisiology.id1" value="3">Чаще всего я удовлетворен(а) тем, что сижу за
            компьютером (в сети)<br/>
        </li>

        <li>
            Пожалуйста, выберите пункты, которые Вам соответствуют: *
            <br/>
            <input type="checkbox" ng-model="fisiology.id2.q1">Я часто испытываю сухость в глазах, если смотрю в монитор
            или пользуюсь
            разными гаджетами<br/>
            <input type="checkbox" ng-model="fisiology.id2.q2">У меня начинает болеть спина, когда сижу за
            компьютером<br/>
            <input type="checkbox" ng-model="fisiology.id2.q3">Я люблю лежать на диване с ноутбуком, ведь это
            удобно<br/>
            <input type="checkbox" ng-model="fisiology.id2.q4">Я наблюдаю ухудшение концентрации в учебе/ работе после
            перерыва на соц.
            сети или игры<br/>
            <input type="checkbox" ng-model="fisiology.id2.q5">Замечаю, что я становлюсь раздражительным, когда сижу в
            Интернете или
            нахожусь в игровом процессе<br/>
            <input type="checkbox" ng-model="fisiology.id2.q6">Бывает, что я психую, когда не получается пройти миссию в
            игре<br/>

            <input type="checkbox" ng-model="fisiology.id2.q7">Моё близкое окружение часто бывает недовольно тем, что
            пренебрегаю делами
            и общением с ними, в угоду Интернету, гаджетам и играм<br/>
            <input type="checkbox" ng-model="fisiology.id2.q8">Ничего из вышеперечисленного ко мне не относится<br/>
        </li>

        <li>
            В сложной жизненной ситуации Вы доверитесь советам (возможно несколько вариантов ответа): *
            <br/>
            <input type="checkbox" ng-model="fisiology.id3.q1">Интернета<br/>
            <input type="checkbox" ng-model="fisiology.id3.q2">Блогера<br/>
            <input type="checkbox" ng-model="fisiology.id3.q3">Друзей, окружающих Вас в реальной жизни и родных<br/>
            <input type="checkbox" ng-model="fisiology.id3.q4"> Виртуальных друзей<br/>
            <input type="checkbox" ng-model="fisiology.id3.q5">Специалиста, обратитесь к психологу<br/>
            <input type="checkbox" ng-model="fisiology.id3.q6">Бывает, что я психую, когда не получается пройти миссию в
            игре<br/>
            <input type="checkbox" ng-model="fisiology.id3.q7">Предпочту никого не слушать и решить проблему
            самостоятельно<br/>
        </li>

        <li>
            Есть ли у Вас виртуальные друзья и как Вам комфортнее общаться (виртуально или реально)?
            <br/>
            <input type="radio" ng-model="fisiology.id4" value="1">Есть, в реальности не встречались ни разу, но мы
            очень хорошо ладим, у
            нас много общего. Но все равно предпочту общение в живую<br/>
            <input type="radio" ng-model="fisiology.id4" value="2">Много виртуальных друзей, мне гораздо интереснее
            общение с ними, нежели с
            реальными знакомыми. Предпочту виртуальное общение<br/>
            <input type="radio" ng-model="fisiology.id4" value="3">Все мои друзья виртуальные<br/>
            <input type="radio" ng-model="fisiology.id4" value="4"> Не имею виртуальных друзей. Живое общение куда лучше<br/>
        </li>

        <li>
            Что вы думаете по поводу знакомств в интернете?
            <br/>
            <input type="radio" ng-model="fisiology.id5" value="1">Самые лучшие знакомства-случайные или встречи
            вживую<br/>
            <input type="radio" ng-model="fisiology.id5" value="2">Не имею ничего против<br/>
            <input type="radio" ng-model="fisiology.id5" value="3">Только так и знакомлюсь<br/>
        </li>

        <li>
            Согласны ли Вы со следующим утверждением: Считаю, что использование гаджетов осуждают те, кто не находятся в
            «потоке», технически не продвинуты, или претендуют на оригинальность, и хотят казаться выше.
            <br/>
            <input type="radio" ng-model="fisiology.id6" value="1">Полностью согласен<br/>
            <input type="radio" ng-model="fisiology.id6" value="2">Согласен частично<br/>
            <input type="radio" ng-model="fisiology.id6" value="3">В корне не согласен<br/>
        </li>
    </ol>

    <br/>

    <h1>Влияние режима самоизоляции на время использования гаджетов, Интернета и мессенджеров
    </h1>
    <ol>
        <li>
            Как изменилось время, проводимое Вами в Интернете на самоизоляции?
            <br/>
            <table>
                <tr>
                    <td></td>
                    <td>Часто</td>
                    <td>Иногда</td>
                    <td>Редко</td>
                </tr>
                <tr>
                    <td>Дистанционное обучение/Работа</td>
                    <td><input type="radio" ng-model="karantin.id1.q1" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q1" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q1" value="3"></td>
                </tr>
                <tr>
                    <td>Просмотр новостных лент</td>
                    <td><input type="radio" ng-model="karantin.id1.q2" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q2" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q2" value="3"></td>
                </tr>
                <tr>
                    <td>Просмотр видеоблогов</td>
                    <td><input type="radio" ng-model="karantin.id1.q3" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q3" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q3" value="3"></td>
                </tr>
                <tr>
                    <td>Развлечения (Кино,игры)</td>
                    <td><input type="radio" ng-model="karantin.id1.q4" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q4" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q4" value="3"></td>
                </tr>
                <tr>
                    <td>Для общения через мессенджеры и  соцсети</td>
                    <td><input type="radio" ng-model="karantin.id1.q5" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q5" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q5" value="3"></td>
                </tr>
                <tr>
                    <td>Познавательные</td>
                    <td><input type="radio" ng-model="karantin.id1.q6" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q6" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q6" value="3"></td>
                </tr>

                <tr>
                    <td>Онлайн-курсы по различным видам деятельности</td>
                    <td><input type="radio" ng-model="karantin.id1.q7" value="1"></td>
                    <td><input type="radio" ng-model="karantin.id1.q7" value="2"></td>
                    <td><input type="radio" ng-model="karantin.id1.q7" value="3"></td>
                </tr>
            </table>
        </li>

        <li>
            Насколько в среднем изменилось время, проводимое Вами за использованием гаджетов?
            <br/>
            <input type="radio" ng-model="karantin.id2" value="1">Увеличилось на 1-2 часа<br/>
            <input type="radio" ng-model="karantin.id2" value="2">Увеличилось на 3-4 часа<br/>
            <input type="radio" ng-model="karantin.id2" value="3">Сократилось на 1-2 часа<br/>
            <input type="radio" ng-model="karantin.id2" value="4">В течение дня пользуетесь крайне редко, приоритет отдаете, например, чтению книг<br/>
            <input type="radio" ng-model="karantin.id2" value="5">В течение всего дня используете гаджеты<br/>
            <input type="radio" ng-model="karantin.id2" value="6">Не изменилось<br/>
        </li>

        <li>
            Как изменилось время, которое вы тратите на компьютерные игры?
            <br/>
            <input type="radio" ng-model="karantin.id3" value="1">Увеличилось на 1-2 часа<br/>
            <input type="radio" ng-model="karantin.id3" value="2">Сократилось на 1-2 часа<br/>
            <input type="radio" ng-model="karantin.id3" value="3">В основном, в течение дня играете<br/>
            <input type="radio" ng-model="karantin.id3" value="4">Реже играете<br/>
            <input type="radio" ng-model="karantin.id3" value="5">Не изменилось<br/>
        </li>

        <li>
            Как Вы относитесь к дистанционному режиму работы/ обучения?
            <br/>
            <input type="radio" ng-model="karantin.id4" value="1">Положительно, т.к. из дома намного удобнее обучаться/работать<br/>
            <input type="radio" ng-model="karantin.id4" value="2">Отрицательно, т.к. чувствуете бОльшую нагрузку по работе или учебе <br/>
            <input type="radio" ng-model="karantin.id4" value="3">Отрицательно, т.к. считаете, что дистанционный режим понижает планку качества выполняемой работы <br/>
            <input type="radio" ng-model="karantin.id4" value="4">Нейтрально<br/>
        </li>

    </ol>


    <button ng-click="createOrder()">Сохранить результат</button>

</div>
<p ng-bind-html="recomendation"></p>
<div ng-show="visibleDiagram">



    <div class="chart-container" ng-show="true">
        <canvas id="base" class="chart-horizontal-bar"
                chart-data="dataChart" chart-labels="labelsChart" legend="true" series="seriesChart"
                chart-colors="colorsChart">
        </canvas>


        <canvas id="radar" class="chart chart-radar"
                chart-data="dataInternetDiagram" chart-options="options" chart-labels="labelsInternetDiagram">
        </canvas>
    </div>
</div>